@page "/ProductList"
@inject ISearchManager SearchManager

@implements IDisposable

@*@if (SearchManager.Products == null|| SearchManager.Products.Count == 0)
{
    <span>@SearchManager.Message</span>
}*@

    <h3>Products</h3>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Titel</th>
                <th>Typ</th>
                <th>Utgåva</th>
                <th>Skapare</th>
                <th>Genre</th>
            </tr>
        </thead>
        @foreach (var p in SearchManager.Products)
        {
            <tr>
                <a href="/ProductById/@p.Id" class="table-bordered">@p.Title</a>
                <td>@p.Type</td>
                <td>@p.Published.ToString("yyyy/MM/dd")</td>
                @foreach (var creator in p.Creators)
                {
                    <td>@creator.FirstName @creator.LastName</td>
                    <br />
                }
                @foreach (var category in p.Category)
                {
                    <td>@category.CategoryName</td>
                    <br />
                }


            </tr>
        }
    </table>


@code {
	protected override void OnInitialized()
    {
        SearchManager.ProductsChanged += StateHasChanged;
    }
    public void Dispose()
    {
        SearchManager.ProductsChanged -= StateHasChanged;
    }

}

