@inject ILoanManager LoanManager
@page "/topproduct"
<h3>Populära böcker/Mest utlånade böcker</h3>


@foreach (var p in products)
{
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Fairy_Tales_%28Boston_Public_Library%29.jpg" alt="Hej jag är en bild">
		<div class="card-body">
			<h5 class="card-title"><a href="/ProductById/@p.Id" class="table-bordered">@p.Title</a></h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		@*	@foreach (var creator in p.Creators)
		{
			<h6>@creator.FirstName @creator.LastName</h6>
		}*@
		</div>
	</div>
	@*<tr>
		<a href="/ProductById/@p.Id" class="table-bordered">@p.Title</a>
		<td>@p.Type</td>
		<td>@p.Published.ToString("yyyy/MM/dd")</td>
		@foreach (var creator in p.Creators)
		{
			<td>@creator.FirstName @creator.LastName</td>
		}
		@foreach (var category in p.Category)
		{
			<td>@category.CategoryName</td>
		}


	</tr>*@
}

@code {
	public List<Product> products { get; set; } = new List<Product>();

	protected override async Task OnInitializedAsync()
	{


		products = await LoanManager.GetTopProducts();
	}


}
