@page "/currentLoans"
@inject IUserManager UserManager
@inject ILocalStorageService LocalStorage;
@inject NavigationManager NavigationManager
@inject ILoanManager LoanManager
@inject IProductManager ProductManager

<h3 class="mt-3">Aktuella lån:</h3>

<table class="table mb-5">
    <thead class="thead-light">
        <tr>
            <th>Titel</th>
            <th>Typ</th>
            <th>Utgåva</th>
            <th>Skapare</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currentLoan in CurrentLoans)
        {
            
            <tr>
                <td>@currentLoan.Title</td>
                <td>@currentLoan.Type</td>
                <td>@currentLoan.Published.ToString("yyyy")</td>
                @foreach (var creator in currentLoan.Creators)
                {
                    <td>@creator.FirstName @creator.LastName</td>
                }
            </tr>
        }
    </tbody>
</table>
<h3>Återlämnade lån</h3>
<table class="table mb-5">
    <thead class="thead-light">
        <tr>
            <th>Titel</th>
            <th>Typ</th>
            <th>Utgåva</th>
            <th>Skapare</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var previousLoan in PreviousLoans)
        {
            <tr>
                <td>@previousLoan.Title</td>
                <td>@previousLoan.Type</td>
                <td>@previousLoan.Published.ToString("yyyy")</td>
                @foreach (var creator in previousLoan.Creators)
                {
                    <td>@creator.FirstName @creator.LastName</td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    public User User { get; set; }
    public List<Loan> AllUserLoans { get; set; } = new();
    public List<Product> PreviousLoans { get; set; } = new();
    public List<Product> CurrentLoans { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var userEmail = await LocalStorage.GetItemAsync<string>("email");
        User = await UserManager.GetUserByEmail(userEmail);
        AllUserLoans = await LoanManager.GetLoansByUserId(User.Id);

        foreach (var loan in AllUserLoans)
        {
            var product= await ProductManager.GetProductById(loan.ProductCopy.ProductId);
            if (loan.isReturned)
            {
                PreviousLoans.Add(product);
            }
            else
            {
                CurrentLoans.Add(product);
            }
        }
    }
}
