@page "/allproducts"

@inject IDataManager DataManager


<NotAuthorized>
    <h3>Products</h3>
    @if (products != null)
    {
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Titel</th>
                    <th>Typ</th>
                    <th>Utgåva</th>
                    <th>Skapare</th>
                </tr>
            </thead>
            @foreach (var p in products)
            {
                <tr>
                    <a href="/ProductById/@p.Id" class="table-bordered">@p.Title</a>
                    <td>@p.Type</td>
                    <td>@p.PublishYear</td>
                    @*<td>@p.Creator.FirstName @p.Creator.LastName</td>*@
                    <td><a class="btn btn-warning" @onclick="() => EditProduct(p.Id, p)">i</a></td>
                    <td><a class="btn btn-danger" @onclick="() => DeleteProduct(p.Id)">x</a></td>
                </tr>
            }
        </table>
    }
</NotAuthorized>

@code {
    [Parameter]
    public int Id { get; set; }
    public List<Product>? products { get; set; }
    public Product? productToUpdate { get; set; }
   


    protected override async Task OnInitializedAsync()
    {
        products = await DataManager.GetAllProducts();
    }
    
    public async Task EditProduct(int id, Product productToUpdate)
    {
        await DataManager.UpdateProduct(id, productToUpdate);
    }

    public async Task DeleteProduct(int id)
    {
        await DataManager.DeleteProduct(id);
    }

    
}
