@page "/allproducts"
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject ISearchManager SearchManager
@inject ILoanManager LoanManager
@inject IProductManager ProductManager
@inject IUserManager UserManager
@inject IProductCopyManager ProductCopyManager
@inject IReservationManager ReservationManager

<NotAuthorized>
    <h3>Produkter</h3>
    @if (products != null)
    {
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Titel</th>
                    <th>Typ</th>
                    <th>Utgåva</th>
                    <th>Skapare</th>
                    <th>Tillgängliga Ex</th>
                </tr>
            </thead>
            @foreach (var p in products)
            {
                <tr>
                    <a href="/ProductById/@p.Id" class="table-bordered">@p.Title</a>
                    <td>@p.Type</td>
                    <td>@p.Published.ToString("yyyy")</td>
                    @foreach (var creator in p.Creators)
                    {
                        <td>@creator.FirstName @creator.LastName</td>
                        <br />
                    }
                    <AuthorizeView Roles="Member">
                        @foreach (var product in AvailableLoans)
                        {
                            @if (p.Id == product.Id)
                            {
                                isAvailable = true;
                            }
                        }

                        @if (isAvailable == true)
                        {
                            <td><a class="btn" @onclick="() => LoanProduct(p.Id)">Låna</a></td>
                        }
                        else
                        {
                            <td><a class="btn" @onclick="()=> ReserveProduct(p.Id)">Reservera</a></td>
                        }
                    </AuthorizeView>
                    <AuthorizeView Roles="Admin, Librarian">
                        <td><MudButton @onclick="() => EditProduct(p.Id, p)"><MudIcon Icon="@Icons.Filled.Edit"></MudIcon></MudButton><MudButton @onclick="() => DeleteProduct(p.Id)"><MudIcon Icon="@Icons.Filled.Delete"></MudIcon></MudButton></td>

                    </AuthorizeView>
                </tr>
                @if (Edit)
                {
                    @foreach (var c in p.Creators)
                    {
                        <label>Titel</label>
                        <br />
                        <input type="text" @bind-value="p.Title" />
                        <br />
                        <label>Förnamn</label>
                        <br />
                        <input type="text" @bind-value=c.FirstName />
                        <label>Efternamn</label>
                        <br />
                        <input type="text" @bind-value="c.LastName" />
                        <br />
                        <label>Dag, datum & tid</label>
                        <br />
                        <input type="text" @bind-value="p.Published" />
                        <br />
                        <label>Typ:</label>
                        @*<InputSelect id="type" @bind-Value="p.Type">
                            <option value="" selected></option>
                            @foreach (var productType in Enum.GetValues(typeof(ProductType)))
                            {
                            <option value="@productType">@productType</option>
                            }
                            </InputSelect>*@
                        <br>
                        <button class="btn btn-primary" @onclick="() => SaveEditProduct(p.Id, p)">Spara ändringar</button>
                    }
                }
                @if (isAvailable)
                {
                    isAvailable = false;
                }
            }
        </table>
    }
</NotAuthorized>

@code {
    [Parameter]
    public int Id { get; set; }
    public List<Product>? products { get; set; } = new();
    public List<Category> Categories { get; set; } = new();
    public List<Product> AvailableLoans { get; set; } = new();
    public DateTime TodaysDate { get; set; } = DateTime.Now;
    public Product ProductToUpdate { get; set; } = new();
    public Creator Creator { get; set; } = new();
    public User CurrentUser { get; set; } = new();
    private bool isAvailable;
    private bool addCreator;
    public bool Edit;

    protected override async Task OnInitializedAsync()
    {
        var userEmail = await localStorage.GetItemAsync<string>("email");
        CurrentUser = await UserManager.GetCurrentUser(userEmail);

        AvailableLoans = await ProductCopyManager.GetAllLoans();
        products = await ProductManager.GetAllProducts();
    }

    public async Task EditProduct(int id, Product productToEdit)
    {
        Edit = true;
    }

    public async Task SaveEditProduct(int id, Product productToUpdate)
    {
        await ProductManager.UpdateProduct(id, productToUpdate);
        Edit = false;
    }

    public async Task DeleteProduct(int id)
    {
        await ProductManager.DeleteProduct(id);
        products = await ProductManager.GetAllProducts();
    }

    public async Task LoanProduct(int productId)
    {

        LoanManager.AddLoan(productId, CurrentUser.Id);
        AvailableLoans = await ProductCopyManager.GetAllLoans();
    }

    public async Task ReserveProduct(int productId)
    {
        ReservationManager.AddReservation(productId, CurrentUser.Id);
    }

    void AddCreator()
    {
        _ = addCreator = true ? (addCreator == false) : (addCreator == true);
    }
}
