@page "/register"
@inject NavigationManager NavigationManager
@inject IUserManager UserManager
@inject ILocalStorageService LocalStorage
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h6">Registrera</MudText>
            <MudForm @ref="form" @bind-Errors="@errors">
                <MudTextField T="string" Label="Förnamn" Required="true" RequiredError="Obligatorisk fält" @bind-Value="registerUser.FirstName" />
                <MudTextField T="string" Label="Efternamn" Required="true" RequiredError="Obligatorisk fält" @bind-Value="registerUser.LastName" />
                <MudTextField T="string" Label="E-postadress" Required="true" RequiredError="Obligatorisk fält"
                              Validation="@(new EmailAddressAttribute() {ErrorMessage = "Du måste fylla i en e-postadress"})" @bind-Value="registerUser.Email" />
                <MudTextField T="string" Label="Lösenord" HelperText="Lösenordet måste innehålla minst 6 tecken, en stor bokstav, en liten bokstav och en siffra" @ref="pwField1"
                              InputType="InputType.Password"
                              Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                              RequiredError="Obligatorisk fält" @bind-Value="registerUser.Password" />
                <MudTextField T="string"
                              Label="Lösenord" HelperText="Upprepa lösenordet" InputType="InputType.Password" Required="true"
                              Validation="@(new Func<string, string>(PasswordMatch))" @bind-Value="registerUser.ConfirmPassword" />
                <div class="d-flex align-center justify-space-between mt-6">
                    <AuthorizeView Context="_context" Roles=Admin>
                        <div class="form-group">
                            <label for="librarian">Behörig bibliotekarie</label>
                            <MudCheckBox T="bool" Required="false" Class="ml-n2" @bind-Checked="isLibrarian" />
                        </div>
                    </AuthorizeView>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" @onclick="() => HandleRegistration()">Registrera</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@if (message == $"{registerUser.FirstName} tillagd")
{
    <MudAlert Severity="Severity.Success">@message</MudAlert>
}
else if (message == $"Bibliotekarie {registerUser.FirstName} tillagd")
{
    <MudAlert Severity="Severity.Success">@message</MudAlert>
}
else if (message == $"Det finns redan en användare registrerad på e-postadressen \"{registerUser.Email}\"")
{
    <MudAlert Severity="Severity.Warning">@message</MudAlert>
}

@code {
    private RegisterDto registerUser = new RegisterDto();
    bool isLibrarian;
    string[] errors = { };
    string message = "";
    MudTextField<string> pwField1;
    MudForm form;

    public async Task HandleRegistration()
    {
        if(isLibrarian)
        {
            registerUser.UserRole = UserRole.Librarian;
        }
        else {
            registerUser.UserRole = UserRole.Member;
        }

        message = await UserManager.Register(registerUser);
        if (message == "User has been registered")
        {
            if (!await LocalStorage.ContainKeyAsync("authToken"))
            {
                NavigationManager.NavigateTo("/login");
                message = $"{registerUser.FirstName} tillagd";
            }
            else if (registerUser.UserRole.Equals(UserRole.Librarian))
            {
                message = $"Bibliotekarie {registerUser.FirstName} tillagd";
            }
            else
            {
                message = $"{registerUser.FirstName} tillagd";
            }
        }
        else if (message == "User already exists.")
        {
            message = $"Det finns redan en användare registrerad på e-postadressen \"{registerUser.Email}\"";
        }
        else
        {
            message = "Ett fel uppstod. Har du fyllt i alla uppgifter korrekt?";
        }
    }

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Lösenord är ett krav!";
            yield break;
        }
        if (pw.Length < 6)
            yield return "Lösenordet måste vara minst 6 tecken";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Lösenordet måste innehålla minst en stor bokstav";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Lösenordet måste innehålla minst en liten bokstav";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Lösenordet måste innehålla minst en siffra";
    }

    private string PasswordMatch(string arg)
    {
        if (pwField1.Value != arg)
            return "Lösenordet matchar inte";
        return null;
    }
}
